.header {
    min-height: 142px;
    &__wrapper {
        min-height: 37px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        display: inline-block;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        color: #333333;
        transition: all 0.4s;
        &:first-child{
            margin-right: 36px;
        }
    }
    &__item:hover{
        text-decoration: none;
        color: $main-color;
        
    }
    &__item img {
        margin-right: 6px;
    }
}

@media (max-width: 1199px){
    .container {
        max-width: 960px;
    }
}

@media (max-width: 767px){
    .container{
        max-width: 540px !important;
    }
}

@media (max-width: 575px){
    .container {
        max-width: 300px !important;
    }
    .divider {
        display: none;
    }
    .header{
        &__wrapper{
            justify-content: flex-end;
            padding-top: 20px;
        }
        &__item span{
            display: none;
        }
        &__location &__item {
            margin-right: 24px;
            &:first-child{
                margin-right: 24px;
            }
        }
    }
    
}